

.corpo_do_app {
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  margin: 0 auto;
  width: 600%;
  height: 600px;
  display: flex;

}

.slides input {
  display: none;
}

p {
  max-width: 900px;
}

.slide {
   width: 25%; 
   position: relative; 
}
.slide img{
width: 500px;
}
.first{
  
  height: 600px;
}

.textarea-custom {
  position: absolute;
  margin-top: -130px;
  width: 500px;
  height: 100px;

}


.manual-navigation {
  position: absolute;
  width: 575px;
  margin-top: -87px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  height: 1px;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: green
}


#radio1:checked~.first {
  margin-left: 0%;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

#radio5:checked~.first {
  margin-left: -100%;
}

.navigation-auto div {

  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {

  position: absolute;
  width: 575px;
  margin-top: 585px;
  display: flex;
  justify-content: center;

}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {

  background-color: green;
}

#radio2:checked~.navigation-auto .auto-btn2 {

  background-color: green;
}

#radio3:checked~.navigation-auto .auto-btn3 {

  background-color: green;
}

#radio4:checked~.navigation-auto .auto-btn4 {

  background-color: green;
}

#radio5:checked~.navigation-auto .auto-btn5 {

  background-color: green;
}

#botao {
  height: 4%;
  color:white;
  background-color: rgb(69, 211, 69);
  position: absolute;
  margin-top: -25px;
}

#botao:hover{
  background-color: green;
  transition: 0.5s;
}
