.corpo_do_app {
  margin: 0 auto;

}

.textarea-custom {
  width: 600px;
  height: 250px;

}

.botao{
visibility: hidden;
}
  .manual-navigation{
    position: absolute;
    width: 575px;
    margin-top: -110px;
    display:flex;
    justify-content: center;
  }

 .manual-btn {
  border: 1px solid black;
  padding: 5px;
   border-radius: 10px; 
  cursor: pointer;
  height: 1px;
  transition: 0.5s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover {
  background-color:cyan
}   
.navigation-auto div{
 
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  
  position: absolute;
  width: 575px;
  margin-top: -53.25px;
  display: flex;
  justify-content: center;
  
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
background-color: cyan;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: cyan;
  }
